:root {
  --chart-diameter: 85vw;
  --chart-progress: 40;
  --chart-border: 1em;
}

body {
  background-color: var(--slate-blue);
}

/**
 * Page structure
 **/

header {
  pointer-events: none;
}
header * {
  pointer-events: all;
}
footer {
  text-align: center;
}






/**
 * progress chart
 **/
 div#progress-chart {
  aspect-ratio: 1;
  min-width: var(--chart-diameter);
  position: relative;
  display: inline-grid;
  place-content: center;
}
div#progress-chart::before {
  aspect-ratio: 1;
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
      radial-gradient(farthest-side,rgb(112, 243, 255) 100%,#0000) top/var(--chart-border) var(--chart-border) no-repeat,
      conic-gradient(rgb(112, 243, 255) calc(var(--chart-progress)*1%),rgb(0, 32, 129) 0);
  -webkit-mask:radial-gradient(farthest-side,#0000 calc(100% - var(--chart-border)),#000 calc(100% - var(--chart-border)));
        mask:radial-gradient(farthest-side,#0000 calc(100% - var(--chart-border)),#000 calc(100% - var(--chart-border)));
}
div#progress-chart::after {
  aspect-ratio: 1;
  content: "";
  position: absolute;
  inset: calc(50% - var(--chart-border)/2);
  border-radius: 50%;
  background: rgb(112, 243, 255);
  transform: rotate(calc(var(--chart-progress)*3.6deg)) translateY(calc(50% - var(--chart-diameter)/2));
}